# Problem 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

**Solution 1**: Get all multiples of 3 and 5 upto 999, subtract multiples of 15.

In [2]:
(1 1 ¯1)+.×{+/⍵×⍳⌊999÷⍵}¨(3 5 15)

**Solution 2**: Get all multiples of 3 and 5 upto 999, "unravel" and remove duplicates, then sum.

In [3]:
+/∪,↑{⍵×⍳⌊999÷⍵}¨(3 5)